*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto Regular, sans-serif;
}



.container{
	width: 1366px;
	height: 768px;
	min-height: 100vh;
	padding: 0%;
	background-image: url(images/Layout.png);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;

}

.search-bar{
	width:600px;
	height: 45px;
	max-width: 700px;
	background:#C8C8C8;
    display: flex;
	align-items: center;
	margin-top: -180px;
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}


.search-bar input {
	background-color: #cccccc;
	flex: 1;
	border: 0;
	outline: none;
	padding: 5px 5px;
	font-size: 14px;
	color: #000000 ;
	font-family: Roboto Regular;


}

::placeholder {
	color: #000000 ;
}

.search-bar button img{
width: 16px;
height: 24px;


 }

 .search-bar button {
 	border: 0;
 	border-radius: 50%;
 	width: 35px;
 	height: 35px;
 	cursor: pointer;
 	background-color: #C8C8C8;
 }
